@model MyPortfolioMVC.Models.EmailModel

<!--<!--<!--header-top-starts-->


<div class="contact">
    <div class="container">

        
                

                    @{
                        ViewBag.Title = "Create";
                    }
                    @using (Html.BeginForm("Contact", "Home", null))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="form-horizontal">
                                <h2 style="text-align:center">Contact</h2>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FromName, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(m => m.FromName, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Name" } })
                                        @Html.ValidationMessageFor(m => m.FromName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.FromEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(m => m.FromEmail, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Email" } })
                                        @Html.ValidationMessageFor(m => m.FromEmail, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(m => m.Subject, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Subject" } })
                                        @Html.ValidationMessageFor(m => m.Subject, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.Body, htmlAttributes: new { @class = "control-label col-md-2" })
                                    @*<label for="message">Message</label>*@
                                    <div class="col-md-8">
                                        @Html.EditorFor(m => m.Body, new { htmlAttributes = new { @class = "form-control", placeholder = "Please limit your message to 1500 characters, greatly appreciated!!!" } })
                                        @Html.ValidationMessageFor(m => m.Body, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Submit" class="btn btn-success" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3223.865227971584!2d-80.07436658530108!3d36.096773214678386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88530739101f5817%3A0x64583b7d90957128!2sCoder+Foundry!5e0!3m2!1sen!2sus!4v1500159643352" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        <div class="clearfix"></div>

                    }

                </div>
            </div>




    

@section scripts {
        @Scripts.Render("~/bundels/jqueryval")

            
            <script src="~/Scripts/tinymce/tinymce.min.js"></script>
            <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>

<script type="text/javascript">
        $(function () {
            tinymce.init({
                selector: '#Body',
                plugins: "lists advlist",
            });
            });
</script>
    }




@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@