@model MyPortfolioMVC.Models.EmailModel

<!-- welcome begins -->
<section id="page-welcome" class="page-welcome">
    <div>
        <ul class="slider-controls">
            <li>
                <a id="vegas-next" class="next" href="javascript:void(0)"></a>
            </li>
            <li>
                <a id="vegas-prev" class="prev" href="javascript:void(0)"></a>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <header class="centered">
                <h1>TIM NGUYEN</h1>
                <p>SOFTWARE DEVELOPER</p>
            </header>
            <div class="social-icons">
                <a href="https://twitter.com/TimDungnhutlap" class="btn btn-round btn-clear btn-twitter"><i class="fa fa-twitter"></i></a>
                <!--<a href="https://www.facebook.com/" class="btn btn-round btn-clear btn-facebook"><i class="fa fa-facebook"></i></a>-->
                <!--<a href="https://www.dribbble.com/" class="btn btn-round btn-clear btn-dribbble"><i class="fa fa-dribbble"></i></a>
                <a href="https://www.instagram.com/" class="btn btn-round btn-clear btn-instagram"><i class="fa fa-instagram"></i></a>-->
                <a href="https://www.linkedin.com/in/tim-nguyen-b22b68b3/" class="btn btn-round btn-clear btn-linkedin"><i class="fa fa-linkedin-square"></i></a>
                <!--<a href="https://www.pinterest.com/" class="btn btn-round btn-clear btn-pinterest"><i class="fa fa-pinterest"></i></a>
                <a href="https://www.google.com/" class="btn btn-round btn-clear btn-google"><i class="fa fa-google-plus"></i></a>-->

            </div>
            <a href="#page-contact" id="hire-me" class="btn btn-default hire-me">Hire Me</a>
        </div>
    </div>
</section>
<!-- welcome ends -->
<!-- personal profile begins -->

<section id="page-profile" class="page-profile">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron" style="width: 100%; height: 100%">
                    <header class="section-header">
                        <h2 class="section-title">Personal Profile</h2>
                        <div class="spacer"></div>
                    </header>
                    <div class="row">

                        <div class="col-md-6">
                            <div id="profilePic" class="profile">
                                
                                <img src="~/img/IMG_Tim_Ngugen(C).jpg" alt="profile" style="width: 595px; height: 420px; padding: 35px" />
                            </div>
                        </div>
                        <div class="col-md-6" style="padding: 30px 0px 0px 15px">
                            <p>
                                As a programmer, I love to solve problems on daily basis, love unravelling puzzles, be a great communicator, highly motivated, and self-sufficient. It's a main event
                                that I love to find solutions to complex problems. I also enjoy working in a team, and willing to help each other to succeed. I will build beautiful things that users can
                                see, use, and enjoy which directly make huge impact upon on success of the product. I am able to adapt to new technologies quickly which I always give 100% in everything I do.
                            </p>
                            <div id="resume" style="text-align: center; padding: 18px 0;">
                                <a href="~/Tim Nguyen.pdf" target="_blank">
                                    <p class="btn btn-info">
                                        <span class="glyphicon glyphicon-search"></span> Search
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-1"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- personal profile ends -->
<!-- Porfolio Grid begins -->

<section id="page-portfolio" class="page-portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <header class="portfolio-header">
                    <h2 class="section-title">
                        <span>Portfolio</span>
                    </h2>
                    <div class="spacer"></div>
                </header>
            </div>
        </div>
        <div class="row">
            <!--row2 contain the first Javascript exercises, Shopping cart, Blog-->
            <div class="col-md-4 portfolio-section">
                <a href="#" data-toggle="modal" data-target="#modalHub">
                    <img src="http://namasteui.com/wp-content/uploads/2016/02/learning-javascript.jpg" id="jsimg" style="width: 345px; height: 230px" alt="JavaScript" title="JavaScript Exercises" data-toggle="popover" data-trigger="hover" data-content="FizzBuzz, Factorial, Numbers Senses, Palindrome problems." data-placement="top" />
                </a>
            </div>
            @*<div class="col-md-4 portfolio-section">
                <a href="~/img/online-shopping-1929002_640.png" target="_blank">
                    <img src="~/img/online-shopping-1929002_640.png" />
                </a>
            </div>*@
            <div class="col-md-4 portfolio-section">
                <a href="http://tnguyen-blog.azurewebsites.net" target="_blank">
                    <img src="http://plusbasketball.com/resimler/fm/blog.png" />
                </a>
            </div>
        </div>
        <div class="row">
            <!--row3 contains BugTracker, Budgeter, Carfinder-->
            <div class="col-md-4 portfolio-section">
                <a href="http://tnguyen-bugtracker.azurewebsites.net/" target="_blank">
                    <img src="http://codecondo.com/wp-content/uploads/2015/08/zoho.png?x94435" style="width: 345px; height: 223px" />
                </a>
            </div>
            <div class="col-md-4 portfolio-section">
                <a href="http://tnguyen-financialportal.azurewebsites.net/" target="_blank">
                    <img src="https://thumbs.dreamstime.com/x/financial-planning-word-cloud-white-background-44923496.jpg" />
                </a>
            </div>
            <div class="col-md-4 portfolio-section">
                <a href="http://tnguyen-carfinder.azurewebsites.net" target="_blank">
                    <img src="~/img/stockvault-car-finder-shows-search-for-and-automobile230261.jpg" style="width: 345px; height: 220px" />
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Porfolio Grid ends -->
<!--Hub for all the modals Buttons-->
<!-- Modal -->
<div id="modalHub" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!--<div class="row">-->
        <!-- Modal content-->
        <div class="modal-content">
             <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center; color: white; font-size: 25px;">JavaScript Exercises</h4>

                <!--All Modals buttons-->
                <!--<div class="row">-->
                <!--In here is where I host all my links-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6" style="text-align: center">
                            <div class="row" style="padding: 15px 15px; border-radius: 5px;">
                                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#JSFizzBuzz" title="FizzBuzz" data-placement="auto">FizzBuzz</button>
                            </div>
                            <div class="row" style="padding: 15px 15px; border-radius: 5px;">
                                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#JSPalindrome" title="Palindrome" data-placement="auto">Palindrome</button>
                            </div>
                        </div>
                        <div class="col-md-6" style="text-align: center">
                            <div class="row" style="padding: 15px 15px; border-radius: 5px;">
                                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#JSFactorial" title="Factorial!" data-placement="auto">Factorial</button>
                            </div>
                            <div class="row" style="padding: 15px 15px; border-radius: 5px;">
                                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#JSNumbers" title="Number-App" data-placement="auto">Number-App</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--All Modals buttons-->

            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-lg" style="padding: 5px 20px 5px 20px;" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

</div>

<!--Hub for all the modals Buttons-->
<!--Hub for all the JSExercises-->
<!--This is FizzBuzz JSExercises-->

<div id="JSFizzBuzz" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="text-align: center; font-size: 25px">Fizz Buzz</h4>
                        <p style="font-size: 17px">
                            Write a program that accepts two numbers between 1 and 100 from the user.
                            The program then iterates through all numbers from 1 to 100, printing numbers in ascending order to the screen.
                            For each number that is a multiple of the first number input by the user, print "Fizz" instead of the number.
                            For each number that is a multiple of the second number input by the user, print "Buzz" instead of the number.
                            For numbers that are multiples of both numbers, print "FizzBuzz"instead of the number.
                        </p>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row" id="fb">
                    <form class="form-horizontal1">
                        <div class="form-group">
                            <div class="row">
                                <label class="control-label col-sm-4" style="text-align: center;" for="fbNum1" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) ))return false;" >Enter number1:</label>
                                <div class="col-sm-5">
                                    <input type="number" class="form-control" id="fbNum1" placeholder="Please enter an integer1" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) ))return false;" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="control-label col-sm-4" style="text-align: center" for="fbNum2">Enter number2:</label>
                                <div class="col-sm-5">
                                    <input type="number" class="form-control" id="fbNum2" placeholder="Please enter an integer2" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) ))return false;" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="row" style="text-align:center; font-size: 22px; padding: 22px;"><button type="button" id="fizzBuzz1" class="btn btn-success btn-lg">Answer(s)</button></div>
                                <!--<div class="row" style="padding:20px"><button type="button" class="btn btn-outline-warning btn-md" id="btnClear">Clear(s)</button></div>-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4 style="text-align: center; font-size: 22px;">Result:</h4>
                                <div class="row" style="text-align: center;">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6" style="text-align: start; width: 25em; word-spacing: 1px; word-wrap: break-word; overflow-wrap: break-word;">
                                        <p id="answerFizzBuzz"></p>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row" style="text-align:center">
                    <!--<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#FizzBuzz" data-toggle="tooltip" title="FizzBuzz" data-placement="auto">View FizzBuzz-code</button>-->
                    <button id="btnfbcode" type="button" class="btn btn-primary btn-md btn-show-code"  title="FizzBuzz" data-toggle="tooltip" style="font-size: 18px ">View FizzBuzz-code</button>
   
                </div>
                <div class="row" id="fbcode">
                    <pre id="fbpretag" class="brush: js" style="padding: 10px;">
                    <!--FIZZBUZZ APPLICATION-->
$("#fizzBuzz1").click(function () {
        var array = []; arr = [];
        $("#fb input").each(function () {
            array.push(Number($(this).val()));
        })
        for (var i = 1; i <= 100; i++) {
            if (i % array[0] == 0 && i % array[1] == 0) {
                arr.push("fizzbuzz");
            }
            else if (i % array[0] == 0) {
                arr.push("fizz");
            }
            else if (i % array[1] == 0) {
                arr.push("buzz");
            }
            else {
                arr.push(i);
            }
        }
        //var arr = arr.toString();
        var arr = arr.join(", ");
        $("#answerFizzBuzz").html(arr);
});
    
$("#btnClear").click(function () {
        $(".form-horizontal1 input, .form-horizontal1 #answerFizzBuzz").each(function () {
            $(this).val("");
            $(this).empty();
        })
})
                    </pre>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row" style="float:left; font-size: 18px; color: black; padding: 5px 20px 5px 20px;"><button type="button" class="btn btn-outline-warning btn-md" id="btnClear">Clear(s)</button></div>
                <button type="button" class="btn btn-success btn-lg" style="padding: 5px 20px 5px 20px;" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--End of FizzBuzz JSExercises-->
<!--Start of Palindrome app-->
<div id="JSPalindrome" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="text-align: center; font-size: 25px;">Palindrome Application</h4>
                        <p style="font-size: 17px;">This is a program whether a word is palindrome (the same backward as is forward-"racecar" for instance). Display the result to the user.</p>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-3" style="text-align: left" for="typeWords">Please type in:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="typeWords" style="text-align: left" styplaceholder="Please type in your words">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12" style="text-align: center">
                                    <button type="button" class="btn btn-success" id="submit">Check(s)</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align: center">
                        <h2>Result:</h2>
                        <p id="answer"></p>
                    </div>
                </div>
                <div class="row" style="text-align:center">
                    <button type="button" id="btnPalindrome" class="btn btn-primary btn-md" data-toggle="modal" data-target="#pal"  title="Palindrome" data-placement="auto">View Palindrome-code</button>
                </div>
                <div class="row" id="palindromeCode" style="background-color:cornflowerblue">
                    <pre id="palpretag" class="brush: js" style="padding: 10px">
                <!--PALINDROME-APPLICATION-->
$("#submit").click(function () {
        var str = $("#typeWords").val();
        str = str.toLowerCase();
        str = str.replace(/[\W_]/g, "");
        var inputStr1 = str.split("").reverse().join("");
        if (inputStr1 == str) {
            $("#answer").html("Yes, " + str + " IS a palindrome!")
        }
        else {
            $("#answer").html("No, " + str + " IS NOT a palindrome!")
        }
});
    $("#btnClearPal").click(function () {
        $("#typeWords, #answer ").each(function () {
            $(this).val("");
            $(this).html("");
        })
})
                                        </pre>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" style="float: left" id="btnClearPal">Clear(s)</button>
                    <button type="button" class="btn btn-success btn-lg" style="padding: 5px 20px 5px 20px;" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

<!--End of Palindrome app-->
<!--Start of Factorial-->

<div id="JSFactorial" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="text-align: center">FACTORIAL!</h4>
                        <p style="font-size: 17px;">Using JavaScript you can find factorial of any number from 1 to 150.</p>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="inputNumber" style="font-size: 16px;">enter a number:</label>
                        <div class="col-sm-5">
                            <input type="number" class="form-control" id="inputNumber" placeholder="please enter positive number" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) ))return false;" />
                        </div>
                    </div>
                </form>
                <div class="row" style="text-align: center">
                    <button type="button" class="btn btn-success" id="result" style="font-size: 18px;">Factorial!</button>
                </div>
            </div>

            <div class="row" id="special" style="background-color: lightseagreen; margin-right: 0px; margin-left: 0px;">
                <div class="col-md-12" style="text-align: center">
                    <h2 id="chao">Result:</h2>
                    <p id="answer1"></p>
                </div>

                <div class="row" style="text-align:center">
                    <button type="button" id="btnFactorial" class="btn btn-primary btn-md" data-toggle="modal" data-target="#factorial"  title="Factorial" data-placement="auto" style="font-size: 18px;">View Factorial-code</button>
                </div>
            </div>
            <div class="row" id="factorialCode" style="margin-left:0px; margin-right: 0px;background-color:cornflowerblue">
                <pre id="facpretag" class="brush: js" style="padding: 10px">
                <!--FACTORIAL-APPLICATION-->
$("#result").click(function () {
        var num = parseInt($("#inputNumber").val());
        if (num == 0) {
            return document.getElementById("answer1").innerHTML = 1;
        }
        else if (/\./.test(num)) {
            $("#answer1").html("Please enter an integer number");
        }
        else if (num > 150) {
            $("#answer1").html("The number you have entered is too large. Please keep it between 1 and 150.");
        }
        else {
            var number = 1;
            for (var i = num; i > 0; i--) {
                number *= i;
            }
        }
        $("#answer1").html("The factorial number is: " + number);
});
$("#cls").click(function () {
        $("#inputNumber, #answer1").each(function () {
            $(this).val("");
            $(this).empty();
        })
})
                                        </pre>
            </div>

            <div class="modal-footer">
                <button type="button" style="float: left" class="btn btn-primary" id="cls">Clear(s)</button>
                <button type="button" class="btn btn-success btn-lg" style="padding: 5px 20px 5px 20px;" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--End of Factorial-->
<!--Start of Number-App-->

<div id="JSNumbers" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align: center">Numbers Application</h4>
                <p style="font-size: 17px">A program accepts five numbers from the users and performs which number is at least, greatest, mean, sum, and the product of all input numbers.</p>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="wholeNumber">
                    <div class="form-group">
                        <div class="row">
                            <label class="control-label col-sm-4" for="firstNumber">Enter a number:</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" id="firstNumber" placeholder="please input a number">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="control-label col-sm-4" for="secondNumber">Enter a number:</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" id="secondNumber" placeholder="please input a number">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="control-label col-sm-4" for="thirdNumber">Enter a number:</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" id="thirdNumber" placeholder="please input a number">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="control-label col-sm-4" for="fourthNumber">Enter a number:</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" id="fourthNumber" placeholder="please input a number">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="control-label col-sm-4" for="fifthNumber">Enter a number:</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" id="fifthNumber" placeholder="please input a number">
                            </div>
                        </div>
                    </div>

                </form>

                <div class="row" style="text-align:center">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary btn-md" id="linkOfCal" style="font-size: 19px;">Calculate</button>

                    </div>
                </div>
            </div>
            <div class="row" id="manyOutputs" style="text-align:center; background-color: lightseagreen; margin-left:0px;margin-right:0px; color: darkblue; font-size: 18px;">
                <!--<div class="col-md-12" style="text-align: center">-->
                <h2>Result:</h2>
                <p id="output1"></p>
                <p id="output2"></p>
                <p id="output3"></p>
                <p id="output4"></p>
                <p id="output5"></p>
                <!--</div>-->
            </div>

            <div class="row" style="text-align: center; font-size: 20px; margin-right: 0px; margin-left:0px; background-color: lightseagreen;">
                <button type="button" id="btnNumbers" class="btn btn-success btn-md" data-toggle="modal" data-target="#numSense" title="Number-App" data-placement="auto">View Numbers-code</button>
            </div>
            <div class="row" id="numbersCode" style="margin-left: 0px; margin-right: 0px;background-color:cornflowerblue">
                <pre class="brush: js" id="numPreTag" style="padding: 10px">
                <!--NUMBERS-APPLICATION-->
$("#linkOfCal").click(function (){
    var numArray = [], total = 0, i = 0; product = 1;
    $("#wholeNumber input").each(function () {
        i++;
        numArray.push($(this).val());
        total += parseInt($(this).val());
        mean = total / i;
        product *= (parseInt($(this).val()));
})
    var resultMax = Math.max.apply(Math, numArray)
    var resultMin = Math.min.apply(Math, numArray)
    $("#output1").html("The maximum number is: " + resultMax);
    $("#output2").html("The minimum number is: " + resultMin);
    $("#output3").html("The summation is: " + total);
    $("#output4").html("The mean is: " + mean)
    $("#output5").html("So product of all numbers: " + product);
});
$("#clr1").click(function () {
    $("#wholeNumber input").each(function () {
        $(this).val("");
    })
});
$("#clr1").click(function () {
    $("#manyOutputs p").each(function () {
        $(this).html("");
    })
})
                     </pre>
            </div>




            <div class="modal-footer">
                <button type="button" class="btn btn-warning btn-md" style="float: left;" id="clr1">Clear(s)</button>
                <button type="button" class="btn btn-success btn-lg" style="padding: 5px 20px 5px 20px;" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--End of Number-App-->
<!--Hub end for all the JSExercises-->
<!-- experience begins -->
<section id="page-experience" class="page-experience">
    <div class="container">
        <header class="section-header">
            <h2 class="section-title"><span>Experience</span></h2>
            <div class="spacer"></div>

        </header>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10" id="page-experience1">
                <h2><span>Coder Foundry, Software Engineer Kernersville, NC </span></h2>
                <h5>May 2017 – September 2017</h5>
                <br />
                <ul class="experience1">
                    <li>Created a personal portfolio and blog website using C#, MVC5 and JavaScript.</li>
                    <li>Created a fully functional MVC bug tracker web application, from scratch, implementing enhanced security and file uploading features.</li>
                    <li>Created a fully functional financial portal web application using .NET MVC framework.</li>
                    <li>Composed dynamic front-end design using partial views and AJAX.</li>
                    <li>Created a fully functioning mobile vehicle information application using Xamarin.</li>
                    <li>Accessed NHTSA’s car recalls database using WebAPI2. Included images using Bing’s</li>
                    <li>Cognitive Image Search API. Built RESTful APIs and utilized Azure App Services.</li>
                </ul>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>
<!-- experience ends -->
<!-- skills begins -->
<section id="page-skills" class="page-skills">
    <div class="container">
        <div class="row">

            <header class="section-header">
                <h2 class="section-title"><span>Skills</span></h2>
                <div class="spacer"></div>
                <!--<p class="section-subtitle">Lorem ipsum dolor sit amet, id iusto oportere mel. </p>-->
            </header>

            <div id="grid-controls-wrapper">
                <ul class="nav nav-pills center-pills grid-controls" style="padding: 10px 0 0 0">
                    <li class="active filter">
                        <a href="javascript:void(0)" data-filter="*">All</a>
                    </li>
                    <li class="filter">
                        <a href="javascript:void(0)" data-filter=".design">Front End Technology</a>
                    </li>
                    <li class="filter">
                        <a href="javascript:void(0)" data-filter=".photography">Back End Technology</a>
                    </li>
                </ul>
            </div>

            <div>

                <ul id="grid" class="grid-wrapper">

                    <li class="mix design">

                        <a href="https://designapp.io/assets/main/images/logos/css.png">
                        <div class="overlay">
                            <i class="fa fa-search"></i>
                        </div>
                        <img src="https://designapp.io/assets/main/images/logos/css.png" style="width: 176px; height: 120px" alt="CSS3" />

                        </a>
                    </li>


                    <li class="mix design">

                        <a href="https://1.bp.blogspot.com/-RJPGxltBcB4/V_QmFpvaV0I/AAAAAAAAACo/RgjeDAqaZYQt5YcuIZfOAkqZMeExr9jfwCLcB/s1600/Html51.jpg">
                            <div class="overlay">
                                <i class="fa fa-search"></i>
                            </div>
                            <img src="https://1.bp.blogspot.com/-RJPGxltBcB4/V_QmFpvaV0I/AAAAAAAAACo/RgjeDAqaZYQt5YcuIZfOAkqZMeExr9jfwCLcB/s1600/Html51.jpg" alt="HTML5" style="width: 199px; height: 151px">


                        </a>

                    </li>


                    <li class="mix photography">

                        <a href="https://oracle-base.com/blog/wp-content/uploads/2017/02/SQL-Server-2012.png">
                            <div class="overlay">
                                <i class="fa fa-search"></i>
                            </div><img src="https://oracle-base.com/blog/wp-content/uploads/2017/02/SQL-Server-2012.png" alt="SQL language" style="height: 151px">
                        </a>

                    </li>

                    <li class="mix photography">
                        <a href="http://scip.be/ImagesLogos/2x/Article_EntityFramework.jpg">
                            <div class="overlay">
                                <i class="fa fa-search"></i>
                            </div><img src="http://scip.be/ImagesLogos/2x/Article_EntityFramework.jpg" alt="LINQ">
                        </a>
                    </li>

                    <li class="mix photography">
                        <a href="http://www.enosislearning.com/Images/C-Sparp-Training-In-Pune.jpg">
                            <div class="overlay">
                                <i class="fa fa-search"></i>
                            </div><img src="http://www.enosislearning.com/Images/C-Sparp-Training-In-Pune.jpg" alt="C# language" style="height: 130px">
                        </a>
                    </li>

                    <li class="mix design">
                        <a href="http://namasteui.com/wp-content/uploads/2016/02/learning-javascript.jpg">
                            <div class="overlay">
                                <i class="fa fa-search"></i>
                            </div><img src="http://namasteui.com/wp-content/uploads/2016/02/learning-javascript.jpg" alt="javaScript" style="width: 194px; height: 150px">
                        </a>
                    </li>

                    <li class="mix design">
                        <a href="http://milescodes.com/client/build/images/icons/jquery.png">
                            <div class="overlay">
                                <i class="fa fa-search"></i>
                            </div><img src="http://milescodes.com/client/build/images/icons/jquery.png" style="width: 199px; height: 151px" alt="jquery">
                        </a>
                    </li>

                    <li class="mix design">
                        <a href="http://www.freelancerstuff.com/images/thumbs/bootstrap3-psd.jpg">
                            <div class="overlay">
                                <i class="fa fa-search"></i>
                            </div><img src="http://www.freelancerstuff.com/images/thumbs/bootstrap3-psd.jpg" alt="Bootstrap">
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>
<!-- skills ends -->
<!-- contact begins -->

    
            
           






            
       

<div class="contact" id="page-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="padding-top:45px;">
            <div class="address">
                <h4  style="text-align: center; font-size: 24px;">Address</h4>
                <p>
                    Coder Foundry,
                    <span>1231 Shields Road #5</span>
                    Kernersville, NC 27284.
                    <span><bold>Phone</bold>(336)231-8632</span>
                </p>
            </div>
            </div>
            <div class="col-md-8">
                @{
                        ViewBag.Title = "Create";
                }
                @using (Html.BeginForm("Contact", "Home", null))
                    {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="form-horizontal">
                            <h2 style="padding-left: 336px;">Contact</h2>
                            
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.FromName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.FromName, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Name" } })
                                    @Html.ValidationMessageFor(m => m.FromName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.FromEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.FromEmail, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Email" } })
                                    @Html.ValidationMessageFor(m => m.FromEmail, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.Subject, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Subject" } })
                                    @Html.ValidationMessageFor(m => m.Subject, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Body, htmlAttributes: new { @class = "control-label col-md-2" })
                                @*<label for="message">Message</label>*@
                                <div class="col-md-8">
                                    @Html.EditorFor(m => m.Body, new { htmlAttributes = new { @class = "form-control", placeholder = "Please limit your message to 1500 characters, greatly appreciated!!!" } })
                                    @Html.ValidationMessageFor(m => m.Body, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Submit" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    </div>



                    }

            </div>
</div>

        <div class="row">
            <div class="col-md-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3223.865227971584!2d-80.07436658530108!3d36.096773214678386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88530739101f5817%3A0x64583b7d90957128!2sCoder+Foundry!5e0!3m2!1sen!2sus!4v1500159643352" width="1200" height="470" frameborder="0" style="border:0" allowfullscreen></iframe>
                <div>
                    @Html.ActionLink("Back to Home", "Index", "Home")
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>


<!-- contact ends -->




@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script src="~/Scripts/tinymce/tinymce.min.js"></script>
<script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>

<script type="text/javascript">
        $(function () {
            tinymce.init({
                selector: '#Body',
                plugins: "lists advlist",
            });
            });
</script>
    <!--Custom JavaScript-->
<script src="~/js/app.js"></script>
<script src="~/js/JavaScript1.js"></script>
    <!--End of custom JavaScript-->
<!--Just Adding this script for SyntaxHighlighter-->

<script>
    SyntaxHighlighter.all();

    //$(function () {
    //    $('.btn-show-code').click(function () {
    //        var pretagId = $(this).data('pretag');
    //        document.getElementById(pretagId).style.display = "inherit";
    //        })
    //});
    //$(function () {
    //    $('.btn-hide-code').click(function () {
    //        //var pretagId1 = $(this).data('pretag');
           
    //        $('#fbcode').toggle();
    //    });
    
    //});
</script>
}







